user defined function

In [1]:
def squareroot_func():
    x=25
    y=x**(1/2)
    print("the square root of x= ",x,"is",y)

In [3]:
squareroot_func()

the square root of x=  25 is 5.0

In [4]:
def squareroot_func():
    x=int(input("enter any number"))
    y=x**(1/2)
    print("the square root of x= ",x,"is",y)

In [7]:
squareroot_func()

enter any number64
the square root of x=  64 is 8.0

In [8]:
def area_of_circle():
    pi=3.14
    redius=10
    area=pi*(redius**2)
    print("the are of circle =",area)

In [9]:
area_of_circle()

the are of circle = 314.0

In [23]:
def area_of_circle():
    pi=3.14
    redius=int(input("enter the redius"))
    area=pi*(redius**2)
    print("the area of circle =",area)
    print("the area of circle =",round,(area,2))

In [28]:
area_of_circle()

enter the redius145
the area of circle = 66018.5
the area of circle = <built-in function round> (66018.5, 2)

In [26]:
def sq():
    x=int(input("enter any number"))
    square_root=x**(1/2)
    print("the square root of x= ",x,"is",square_root)
    square=x**2
    print("the square root of x= ",x,"is",square)

In [27]:
sq()

enter any number25
the square root of x=  25 is 5.0
the square root of x=  25 is 625

In [29]:
g=7877.564389233

In [30]:
round(g,3)

78.776

In [13]:
def area_rect():
    l=78
    b=34
    area=l*b
    print(area)

In [14]:
area_rect()

2652

In [9]:
def area_rect():
    l=float(input("enter length"))
    b=float(input("enter breath"))
    area=l*b
    print(area)
    print("area =",round(area,2))

In [10]:
area_rect()

enter length34.96
enter breath23.36
816.6656
area = 816.67

In [11]:
def area_rect():
    l=int(input("enter length"))
    b=int(input("enter breath"))
    area=l*b
    print(area)

In [12]:
area_rect()

enter length100
enter breath326
32600

In [3]:
def add_f():
    a=10
    b=20
    result=a+b
    print("result=",result)

In [4]:
add_f()

result= 30

In [5]:
def subtraction_f(a,b):
    result=a-b
    print("result=",result)

In [6]:
a=50
b=20
subtraction_f(a,b)

result= 30

In [8]:
def square_f(a):
    s=a**2
    print("thr square is",s)

In [9]:
a=7
square_f(a)

thr square is 49

In [10]:
def area_of_circle(redius):
    pi=3.14
    area=pi*(redius**2)
    print("the are of circle =",area)

In [11]:
redius=90
area_of_circle(redius)

the are of circle = 25434.0

In [22]:
def add_func(a,b):
    result=a+b
    print("result=",result)

In [23]:
a=int(input("Enter any number a"))
b=int(input("Enter any number b"))
add_func(a,b)

Enter any number a45
Enter any number b90
result= 135

In [ ]:
def area_of_circle(redius):
    pi=3.14
    area=pi*(redius**2)
    print("the are of circle =",area)

In [27]:
radius=int(input("enter any redius"))
area_of_circle(redius)

enter any redius88
the are of circle = 25434.0

In [29]:
def square_func(x):
    square_root=x**(1/2)
    print("the square root of x= ",x,"is",square_root)
    square=x**2
    print("the square root of x= ",x,"is",square)

In [30]:
x=int(input("enter any value"))
square_func(x)

enter any value90
the square root of x=  90 is 9.486832980505138
the square root of x=  90 is 8100

In [39]:
def func1():
    for i in range(1,11):
        print(i)

In [40]:
func1()

1
2
3
4
5
6
7
8
9
10

In [41]:
def func2():
    for i in range(5,50,5):
        print(i)

In [42]:
func2()

5
10
15
20
25
30
35
40
45

In [46]:
def func3(x):
    for i in range(1,11):
        print(x*i)

In [47]:
x=2
func3(x)

2
4
6
8
10
12
14
16
18
20

In [50]:
def func4(x):
    for i in range(1,11):
        print(x,"*",i,"=",x*i)

In [53]:
x=int(input("enter any number"))
func4(x)

enter any number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [67]:
def table_func1(x):
    for i in range(1,12):
        print(x,"*",i,"=",x*i)

In [69]:
x=int(input("enter any number to generate the table"))
table_func1(x)

enter any number to generate the table6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66

In [83]:
def test_f():
    list1=[]
    for i in range(1,7):
        list1.append(i)
    print(list1)

In [84]:
test_f()

[1, 2, 3, 4, 5, 6]

In [8]:
def test_f1():
    list2=[]
    for i in ['a','b','c']:
              list2.append(i)
    print("list2=",list2)

In [9]:
test_f1()

list2= ['a', 'b', 'c']

In [13]:
def test_f3():
    list1=[]
    for i in range(20): 
        if i%2==0:        
            list1.append(i)
    print(list1)

In [14]:
test_f3()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
def test_f4():
    list1=[]
    for i in range(20): 
        if i%2!=0:        
            list1.append(i)
    print(list1)

In [16]:
test_f4()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]